# Exercice SQL 2.9

In [4]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 137.8 kB/s eta 0:00:00a 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [5]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine, text
import getpass

In [6]:
password = getpass.getpass()

········

In [7]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [8]:
#How many distinct (different) actors' last names are there?

query ="""SELECT count(distinct last_name)
FROM actor;"""
data1 = pd.read_sql_query(query, engine)
data1

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [9]:
password = getpass.getpass()

········

In [10]:
password = getpass.getpass()

········

In [11]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [12]:
#How many distinct (different) actors' last names are there?

query ="""SELECT count(distinct last_name)
FROM actor;"""
data1 = pd.read_sql_query(query, engine)
data1

   count(distinct last_name)
0                        121

In [15]:
query_2 = """SELECT *,
    CASE
        WHEN DAYOFWEEK(rental_date) IN (1, 7) THEN 'weekend'
        ELSE 'workday'
    END AS day_type
FROM rental;"""
data2 = pd.read_sql_query(query_2, engine)
data2

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,day_type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,workday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,workday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,workday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,workday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,workday
...,...,...,...,...,...,...,...,...
16040,16046,2005-08-23 22:26:47,4364,74,2005-08-27 18:02:47,2,2006-02-15 21:30:53,workday
16041,16047,2005-08-23 22:42:48,2088,114,2005-08-25 02:48:48,2,2006-02-15 21:30:53,workday
16042,16048,2005-08-23 22:43:07,2019,103,2005-08-31 21:33:07,1,2006-02-15 21:30:53,workday
16043,16049,2005-08-23 22:50:12,2666,393,2005-08-30 01:01:12,2,2006-02-15 21:30:53,workday
16044,16050,2023-05-23 00:22:33,1,130,NaT,1,2023-05-23 00:22:33,workday

In [16]:
query_3 = """SELECT *
FROM film
WHERE title like '%%ARMAGEDDON%%';"""
data_3 = pd.read_sql_query(query_3, engine)
data_3

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,39,ARMAGEDDON LOST,A Fast-Paced Tale of a Boat And a Teacher who ...,2006,1,None,5,0.99,99,10.99,G,Trailers,2006-02-15 05:03:42
1,507,LADYBUGS ARMAGEDDON,A Fateful Reflection of a Dog And a Mad Scient...,2006,1,None,4,0.99,113,13.99,NC-17,Deleted Scenes,2006-02-15 05:03:42
2,571,METAL ARMAGEDDON,A Thrilling Display of a Lumberjack And a Croc...,2006,1,None,6,2.99,161,26.99,PG-13,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42
3,598,MOSQUITO ARMAGEDDON,A Thoughtful Character Study of a Waitress And...,2006,1,None,6,0.99,57,22.99,G,Trailers,2006-02-15 05:03:42
4,838,STAGECOACH ARMAGEDDON,A Touching Display of a Pioneer And a Butler w...,2006,1,None,5,4.99,112,25.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
5,844,STEERS ARMAGEDDON,A Stunning Character Study of a Car And a Girl...,2006,1,None,6,4.99,140,16.99,PG,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42

In [17]:
query_4 = """SELECT *
FROM film
ORDER BY length DESC LIMIT 10;"""
data_4 = pd.read_sql_query(query_4, engine)
data_4

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,349,GANGS PRIDE,A Taut Character Study of a Woman And a A Shar...,2006,1,None,4,2.99,185,27.99,PG-13,Behind the Scenes,2006-02-15 05:03:42
1,872,SWEET BROTHERHOOD,A Unbelieveable Epistle of a Sumo Wrestler And...,2006,1,None,3,2.99,185,27.99,R,Deleted Scenes,2006-02-15 05:03:42
2,609,MUSCLE BRIGHT,A Stunning Panorama of a Sumo Wrestler And a H...,2006,1,None,7,2.99,185,23.99,G,Deleted Scenes,2006-02-15 05:03:42
3,817,SOLDIERS EVOLUTION,A Lacklusture Panorama of a A Shark And a Pion...,2006,1,None,7,4.99,185,27.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42
4,690,POND SEATTLE,A Stunning Drama of a Teacher And a Boat who m...,2006,1,None,7,2.99,185,25.99,PG-13,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
5,141,CHICAGO NORTH,A Fateful Yarn of a Mad Cow And a Waitress who...,2006,1,None,6,4.99,185,11.99,PG-13,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
6,182,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,1,None,7,4.99,185,9.99,G,Commentaries,2006-02-15 05:03:42
7,991,WORST BANGER,A Thrilling Drama of a Madman And a Dentist wh...,2006,1,None,4,2.99,185,26.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
8,426,HOME PITY,A Touching Panorama of a Man And a Secret Agen...,2006,1,None,7,4.99,185,15.99,R,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
9,212,DARN FORRESTER,A Fateful Story of a A Shark And a Explorer wh...,2006,1,None,7,4.99,185,14.99,G,Deleted Scenes,2006-02-15 05:03:42

In [19]:
query_5 = """SELECT COUNT(*)
FROM film
WHERE special_features like '%%Behind the Scenes%%';"""
data_5 = pd.read_sql_query(query_5, engine)
data_5

   COUNT(*)
0       538

In [20]:
query_6 = """SELECT rating, AVG(length) AS avg_duration
FROM film
GROUP BY rating
HAVING AVG(length) > 120;"""
data_6 =  pd.read_sql_query(query_6, engine)
data_6

  rating  avg_duration
0  PG-13      120.4439

In [21]:
query_7 = """SELECT DENSE_RANK() OVER(ORDER BY length DESC) as 'Rank', title, length
FROM film
WHERE length != 0 and length IS NOT NULL;"""
data_7 = pd.read_sql_query(query_7, engine)
data_7

     Rank                title  length
0       1        CHICAGO NORTH     185
1       1       CONTROL ANTHEM     185
2       1       DARN FORRESTER     185
3       1          GANGS PRIDE     185
4       1            HOME PITY     185
..    ...                  ...     ...
995   140         ALIEN CENTER      46
996   140            IRON MOON      46
997   140        KWAI HOMEWARD      46
998   140     LABYRINTH LEAGUE      46
999   140  RIDGEMONT SUBMARINE      46

[1000 rows x 3 columns]

# End of the exercice